body {
    background-color: black;
}
.root {
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: #040404;
    transition: background-image 2s linear;
}